* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: radial-gradient(circle, #ebaccb, #f8e5ee, #f0c7d9, #e4b7ca);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logoSinFondo {
    width: 20%;
    margin: 20px;
}

.lista {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;  

}

    li a {
        
        margin: 20px;
        font-weight: bold;
        color: #1d186bd8;
        font-family: 'Montserrat', sans-serif;
        border: none;
        cursor: pointer;
        text-decoration: none;  
        outline: none;
        background-color: transparent;
    }

